@import 'variables.scss';

body{
  margin: 0 !important;
}

a{
  &:hover,
  &:focus,
  &:Active{
    text-decoration: none;
    transition: all 0.5s ease;
  }
}

main{
  margin-top: 130px;
  @media(min-width: 768px){
    margin-top: 170px;
  }
}

section{
  margin-bottom: 30px;
}

// Navbar Section
.navbar{
  z-index: 2;
  .container{
    position: relative;
  }

  &-default{
    border-radius: 0;
    border-color: transparent;
    background: linear-gradient(#fcfcfc, #e6e6e6);
    border-top: 40px solid $lion-red;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    width: 100%;
    // position: fixed;
    // top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  &-nav{
    padding: 25px 0;
    &>li{
      &:first-child>a{
        @media (min-width: 768px){
          border-left: transparent;
        }
      }

      &>a{
        color: $lion-red !important;
        font-weight: bold;        
        @media (min-width: 768px){
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          border-left: 1px solid #d5d5d5;
        }
        &:hover{
          color: black !important;
        }
      }
    }
  }

  &-brand{
    z-index: 1;
    position: absolute;
    width: 220px;
    height: 80px;
    top: -20px;
    left: 10px;    
    @media(min-width: 768px){
      left: 0;
      top: -30px;
      width: 330px;
      height: 120px;
    }

    background: #fff;
    border: 1px solid #c0c0c0;
    padding: 0;

      &:hover{
        background: #fff !important;
      }
    
    &-link{
      display:inline-block;
      width:100%;
      height:100%;
      position: relative;

      img{
        @extend .center-absolute;
      }
    }
  }
}


// Main Section
// Photos

.section-container{
  background: $light-grey;
  border: 1px solid $border-grey;
  border-radius: 5px;
}

.carousel{
  width: 90%;
  margin:0px auto;

  &-container{
    background: $light-grey;
    @media(min-width: 1025px){
      width: calc(100% - 15px);
      padding-bottom: 38%;
      height: 0;
    }
    margin: 10px auto;
  }
}

.slick{
  &-slide{
    margin:10px;

    & img{
      width:100%;
    }
  }  

  &-next,
  &-prev{
    right: -25px;
    height: calc(100% - 20px);
    background: $dark-grey;
    transition: all 0.5s ease;
    &:hover{
      background: $light-grey;
    }
    &:focus{
      background: $dark-grey;
    }
    &:before{
      font-family: 'FontAwesome';
      content: '\f0d9';
      color: $light-grey;
    }
  }
  &-next{
    &:before{
      content: '\f0da';
    }
  }
}  

//blog
.box{
  &-container{
    transition: all 0.5s ease;
    box-shadow: 0 0 13px $border-grey;
    margin: 15px 0;
    @media(min-width: 768px){
      box-shadow: 0 0 0;
      margin: 0;
    }
    &:hover{
      box-shadow: 0 0 13px $border-grey;
    }
  }
}

.image-container{
  width: 100%;
  height: 0;
  padding-bottom: 33.3%;
  transition: all 0.5s ease;
  display: inline-block;
  
  &:hover{
    opacity: .5;
  }
  
  img{
    width: 100%;
  }
}

.text-container{
  padding: 10px;
}

.message-div{
  display: none;
}